.blog-list-wrapper{
	margin-top: 64px;
	padding-top: 1rem;
}
.blog{
	margin-bottom: 10rem;

	.blog-body{
		p{
			img{
				display: block;
				margin: 0 auto;
			}
		}
	}

	img{
		display: block;
		margin: 0 auto;
	}
}

.blog-list{
	
	.blog-item{
		border-bottom: 1px solid #dee2e6;

		&:last-child{
			border-bottom: none;
		}

		.blog-item-content{
			display: flex;
			flex-direction: column;
  			justify-content: space-between;
		}

		.blog-item-title{
			margin-top: 1.5rem;
		}

		.blog-item-image{
			cursor: pointer;
		}

		.image-container{
			position: relative;
		}
	}
}

@media (min-width: 992px) {
	.blog-list{
		.blog-item{
			.blog-item-title{
				margin-top: 0rem;
			}
		}
	}
}