$width: 42px;
$height: 40px;

.sharer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #2c2c2c;

	*, *:after, *:before {
		box-sizing: border-box;
	}
}


.sharer {
	display: flex;
	justify-content: flex-end;
	position: relative;
	float: right;
}

.tip {
	position: absolute;
	top: 50%;
	right: calc(100% + 10px);
	transform: translateY(-50%);	
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: .1em;

	display: flex;
	align-items: center;
	
	&:after {
		content: "";
		width: 30px;
		height: 1px;
		background: #2c2c2c;
		margin: 0 0 0 8px;
	}
	
	@media only screen and (max-width: 600px) {
		display: none;
	}
}

.trigger {
	height: $height;
	line-height: $height;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	transition: color .2s, border .2s, background-color 0.5s;

	a {
		color: currentColor;
		text-decoration: none;
		// transform: skew(10deg);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	i {
		font-size: 14px;
		line-height: $height;
	}

	&:hover {
		color: #fff;
		border-color: #2c2c2c !important;
		background-color: #2c2c2c;
	}
	
	&.share-btn {
		i {
			margin: 0 5px 0 0;
		}
	}
}

.like, .share {
	// transform: skew(-10deg);
	margin: 0 0 0 10px;
	
	.trigger {
		width: ($width * 2) - 2px;
		border: 1px solid rgba(#2c2c2c,.3);
	}
	
	i {
		margin: 0 5px 0 0;
	}
}

.share {
	@media only screen and (min-width: 601px) {
		display: none;
	}
}

.share-window {
	// transform: skew(-10deg);
	overflow: hidden;
	
	@media only screen and (max-width: 600px) {
		display: none;
	}
}

.share-bar {
	position: relative;
	width: ($width * 2) - 2px;
	height: $height;
	transition: width .4s ease .2s;
	
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-width: 1px;
		border-style: solid;
		border-color: rgba(#2c2c2c,.3) rgba(#2c2c2c,.3) rgba(#2c2c2c,.3) transparent;
	}
	
	&:hover {
		width: ($width * 6) - 5px;
		transition: width .4s ease;
		
		.trigger {
			&:nth-child(3) {
				left: ($width * 2) - 2px;
				transition: left .45s ease .06s, color .2s, border .2s, background-color 0.5s;
			}

			&:nth-child(4) {
				left: ($width * 3) - 3px;
				transition: left .45s ease .12s, color .2s, border .2s;
			}

			&:nth-child(5) {
				left: ($width * 4) - 4px;
				transition: left .45s ease .18s, color .2s, border .2s;
			}

			&:nth-child(6) {
				left: ($width * 5) - 5px;
				transition: left .45s ease .24s, color .2s, border .2s;
			}

			&.trigger-facebook{
				&:hover{
					background-color: #1877f2;
					border-color: #1877f2 !important;
				}
			}

			&.trigger-twitter{
				&:hover{
					background-color: #1da1f2;
					border-color: #1da1f2 !important;
				}
			}

			&.trigger-pinterest{
				&:hover{
					background-color: #e60023;
					border-color: #e60023 !important;
				}
			}

			&.trigger-linkedin{
				&:hover{
					background-color: #0077b5;
					border-color: #0077b5 !important;
				}
			}

			&.trigger-whatsapp{
				&:hover{
					background-color: #075e54;
					border-color: #075e54 !important;
				}
			}

			&.trigger-telegram{
				&:hover{
					background-color: #0088cc;
					border-color: #0088cc !important;
				}
			}
		}
	}
	
	.trigger {
		position: absolute;
		top: 0;
		width: $width;
		border-width: 1px;
		border-style: solid;
		border-color: transparent transparent transparent rgba(#2c2c2c,.3);
		transition: left 0s ease .45s, color .2s, border .2s;

		&:nth-child(1) {
			left: 0;
		}

		&:nth-child(2) {
			left: $width - 1px;
		}

		&:nth-child(3) {
			left: ($width * 2) - 2px + 20px;
		}

		&:nth-child(4) {
			left: ($width * 3) - 3px + 20px;
		}

		&:nth-child(5) {
			left: ($width * 4) - 4px + 20px;
		}

		&:nth-child(6) {
			left: ($width * 5) - 5px + 20px;
		}
	}
}