.social-icons {
	list-style: none;

	li.social-icon {
		margin-right: 1rem;

		span{
			display: inline-block;
			width: 48px;
			height: 48px;

			svg {
				display: inline-block;
				width: 48px;
				height: 48px;
				fill: #c6cbce;
				transition: fill 0.25s ease-in;
			}
		}

		&:hover{
			span{
				svg{
					fill: #343a40;
				}
			}
		}		
	}
}