$primary-color: #343a40;
$secondary-color: #7a7e81;
$lite-color: #c6cbce;
$bg-dark: #000000;

body{
	font-family: 'Open Sans', "Noto Serif Bengali",  serif;
	color: $primary-color;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', "Noto Serif Bengali", serif;
    font-weight: 700;
}

h1 {	
	font-size: 6rem;
	line-height: 5.5rem;
}

h2 {
	font-size: 3.5rem;
}

.sub-heading {
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Saira Extra Condensed', "Noto Serif Bengali", serif;
	font-size: 1.35rem;
    color: $secondary-color;
}

.lite{
    color: $lite-color;
}

.bg-primary {
	background-color: $bg-dark !important;
}

a {
	color: $primary-color;

	&:hover {
		color: $secondary-color;
	}

	&:focus {
		color: $primary-color;
	}

	&:active {
		color: $primary-color;
	}
}